@{
    ViewBag.Title = "NULL";
    Layout = null;

    DateTime vDataHora = DateTime.Now;
}

<br />
<center>
    <h1>Serviço de busca de Projetos para EPM 2010 </h1>
    <h2>versão 1.0</h2>
    <h2>@vDataHora</h2>
</center>
<br /><br />

<h3><strong>via JSON</strong></h3>
<h4>
    GetIndicadorPMOjson()<br />
    IndicadorPMO/home/GetIndicadorPMOjson
</h4>

<h3><strong>via gravação em lista do Sharepoint</strong></h3>
<h4>
    GetIndicadorPMOlista()<br />
    IndicadorPMO/home/GetIndicadorPMOlista
</h4>
<br />


